<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829604596982-ei0vgbfg41l5oqfqmv5hnkmlvlihnde6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829604596982-ei0vgbfg41l5oqfqmv5hnkmlvlihnde6</string>
	<key>API_KEY</key>
	<string>AIzaSyBSeHm4fh88_ulkg8PprbBO24349MM5ju0</string>
	<key>GCM_SENDER_ID</key>
	<string>829604596982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecoGuardianRoverbinApp</string>
	<key>PROJECT_ID</key>
	<string>eco-guardian-roverbin-9e934</string>
	<key>STORAGE_BUCKET</key>
	<string>eco-guardian-roverbin-9e934.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829604596982:ios:7e52ecdff73f217fc1b0d7</string>
	<key>DATABASE_URL</key>
	<string>https://eco-guardian-roverbin-9e934-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>